
.react-grid-item.react-grid-placeholder {
  background-color: rgba(164, 167, 164, 0.808);
}

.item,
.MyDragHandleClassName {
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}

.text {
  margin-left: 20px;
}

.icon {
  position: absolute;
  color: grey;
  right: 1em;
}

.MyDragHandleClassName {
  cursor: move;
  height: 40px;
  line-height: 38px;
  background: rgba(240, 241, 241, 0.623);
  /* backdrop-filter: blur(0px); */
  color: black;
}
